body {
    font-family: 'Poppins', sans-serif;
    text-align:center ;
    background: black;
    color: white;
}
.prof{
    clear: both;
    border: 2px solid white;
    border-radius: 7px;
    padding: 15px;
    margin-right: 30%;
    margin-left: 30%;
    background: white;
    color: black;
}
img{
    width:10%;
    border-radius: 50%;
    display: block;
    margin:0 auto;
    border:green 2px solid ;
}
#abt{
    color:white;
    padding: 15px;
    width: 60%;
    display: grid;
    margin: 0 auto;
    border: 2px solid darksalmon;
    border-radius: 7px;
    
}
a{
    padding:5px;
    color:black;
    display:inline-block;
    text-decoration:none;
    color: black;
}
h2{
    background: linear-gradient(90deg, rgba(221,172,63,1) 0%, rgba(252,70,107,1) 100%);
    margin-left: 40%;
    margin-right: 40%;
    padding: 13px;
    border-radius: 10px;
    color: white;
   
}
nav {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 8px;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(203,203,203,1) 100%);
    border-radius: 2px;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 1000; /* Adjust the z-index based on your layout */
}
.project{
    display: flex;
}
aside{
    float:left;
    width:40%;
    padding: 8px;
    margin-left:3%;
    margin-right:3%;
    border-right:2px orange solid;
    box-shadow: 1px 1px 3px 4px orange;

}
section{
    float:left;
    width:40%;
    padding: 8px;
    margin-left:3%;
    margin-right:3%;
    border-left:2px orange solid;
    border-right:2px orange solid;
    box-shadow: 1px 1px 3px 4px orange;
    
}
article{
    float:left;
    width:40%;
    padding: 8px;
    margin-left:3%;
    margin-right: 3%;
    border-left:2px orange solid;
    box-shadow: 1px 1px 3px 4px orange;
}
form{
    float:none ;
    clear:both;
   
}
.project h4{
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    color:orange;
    font-size: 1.3em;
    text-decoration: underline;
}
form{
    clear: both;
    display:flex;
    flex-direction:column;
    width: 30%;
    margin: 0 auto;
}
label{
    display: flex;
    flex-direction: row;
}
input{
    display: flex;
    flex-direction: row;
    padding: 18px;
    border-radius: 7px;
}
textarea{
    padding: 18px;
    border-radius: 7px;
}
h2{
    clear: both;
}
#submit{
    display: block;
    text-align: center;
    text-align: center;
    background: purple;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0em;
    float: right;
}
  footer {
        width: 80%; 
        display: grid;
        justify-content: center;
        margin:0 auto;
    }

    footer span a img {
        width: 60px; 
        border: none;

    }
#res{
    background: green;
    padding: 10px;
    color: white;
    border-radius: 8px;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: black;
    color: white;
}

@media only screen and (max-width: 600px) {

    .prof {
        margin-right: 5%;
        margin-left: 5%;
    }

    img {
        width: 50%;
    }

    #abt {
        width: 95%;
        border: none;
    }

    h2 {
        margin-left: 5%;
        margin-right: 5%;
    }

    nav {
        flex-direction:row;
        margin:0;
    }
     .project {
        clear: both;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    aside,
    section,
    article {
        width: 90%;
        margin: 10px 0;
        padding: 6px; 
    }


    form {
        width: 80%;
        margin: 0 auto;
    }

    #submit {
        float: none;
        margin-top: 10px;
    }
}
